<html>

    <head>

        <title>

            {% block title %}{% endblock %}
        </title>


    </head>

    <body>
        <h1 style="background: linear-gradient(to bottom, #660066 0%, #000066 100%); color:white; text-align:center" > TOMAS JAVI FRAN COMPANY</h1>
        {% include "superior/template2.html" %}
        <h3 style="text-align:center">Proyecto PSP en Django</h3>

        {% block content %}
        
        {% endblock %}
        <p style="background: linear-gradient(to bottom, #660066 0%, #000066 100%); color:white; text-align:center">Gracias por la visita</p>
    </body>

</html>